.box{
  height: 500px;
  background-color: darkblue;

}

.dayLight{
  background-color: yellow;
}

.button1{

  color: green;
  width: 200px;
  height: 50px;
  font-size: 25px;
  background: yellow;
}

.button2{

  color: green;
  width: 200px;
  height: 50px;
  font-size: 25px;
  background: yellow;

}